input[type="text"] {
  
  padding: 0.5rem;
  border-radius: 8px;
  border: 0.1rem solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #fff;
  transition: border-color 0.25s;
}
input[type="text"]:focus {
  outline: none;
}
input[type="text"]::selection {
  background-color: transparent;
}
.title{
  font-size: 2.5em;
  font-weight: bolder;
  margin: 0;
  margin-top: 1%;
}

.box {
  height: 60%;
  width: 85%;
}
.ag-header-cell-label {
  justify-content: center;
}
.add-dialog{
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  flex-wrap: wrap;
}
.input-field{
  gap:0.5rem;
 
}
.input-field input[type="text"]:disabled {
  background-color: rgba(128, 128, 128, 0.5); /* semi-transparent grey */
}